*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f8f7f3;
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

h1,h2,p{
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

h1 span{
    background-color: #858cdc;
    color: #f8f7f3;
    font-style: italic;
    padding: 0 5px;
}

.fecha {
    border: 2px solid black;
    display: flex;
    text-align: center;
    padding: 0 10px;
}

content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mes{
    background-color: #858cdc;
    color: #f8f7f3;
    padding: 0 5px;
    margin: 15px 0;
}

.mes h2{
    font-weight: bold;
    font-style: italic;
}

.habito {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid #858cdc; 
    margin-bottom: 8px;
}

.nombre-habito {
    width: 20%;
    border-right: 3px solid #858cdc;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.dias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 3px;
    padding: 5px;
}

.dias button {
    height: 35px;
    width: auto;
    background-color: #dcdee6;
    border: 0;
    user-select: none;
}

.dias button:hover {
    background-color: #cacfda;
    cursor: pointer;
}

.dias button.racha {
    background-color: #858cdc;
    color: white;
}

.dias button.perdido {
    background-color: red;
    color: white;
}

.opcion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opcion button {
    height: 100%;
    background-color: #dcdee6;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

#editarHabito:hover {
    background-color: #9aacc6;
}

#eliminarHabito:hover {
    background-color: #ec275b;
}

.boton-agregar {
    display: flex;
    justify-content: end;
}

#agregarHabito {
    width: 80px;
    padding: 5px;
    background-color: #dcdee6;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    user-select: none;
}

#agregarHabito:hover {
    background-color: #959bdc;
    cursor: pointer;
}