*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f8f7f3;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    width: 80%;
    height: 100%;
    margin: 20px auto;
}

h1,h2,p{
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

h1 span{
    background-color: #858cdc;
    color: #f8f7f3;
    font-style: italic;
    padding: 0 5px;
}

.fecha {
    border: 2px solid black;
    display: flex;
    text-align: center;
    padding: 0 10px;
}

.contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mes h2{
    font-weight: bold;
    font-style: italic;
}

#filtrarMes {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #858cdc;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color: white;
    border: 0;
    padding: 2px 5px;
    margin: 15px 0;
    cursor: pointer;
    outline: none;
}

.mesOpcion {
    background-color: #f8f7f3;
    font-size: medium;
    font-style: italic;
    color: black;
}

.contenedor-mensaje{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    
}

.mensaje{
    color: black;
}

.habito {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid #858cdc;
    margin-bottom: 8px;
}

.habito-nombre {
    height: auto;
    width: 180px;
    border-right: 3px solid #858cdc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.habito-nombre-texto {
    width: 160px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.habito-nombre-input {
    all: unset;
    width: 150px;
    background-color: #dcdee6;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    
}

.dias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 3px;
    padding: 5px;
}

.dias button {
    height: 35px;
    width: auto;
    background-color: #dcdee6;
    border: 0;
    user-select: none;
}

.dias button:hover {
    background-color: #cacfda;
    cursor: pointer;
}

.dias button.racha {
    background-color: #858cdc;
    color: white;
}

.dias button.perdido {
    background-color: red;
    color: white;
}

.opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px solid #858cdc;
}

.opciones button {
    height: 50%;
    background-color: #dcdee6;
    align-items: center;
    padding: 0 10px;
    border: none;
    cursor: pointer;
    user-select: none;
}

.boton-eliminar:hover {
    background-color: #ec4370;
}

.boton-editar:hover {
    background-color: #b0b9ca;
}

.boton-actualizar:hover {
    background-color: #959bdc;
}

.boton-abrir-modal {
    display: flex;
    justify-content: end;
}

#botonAbrirModalAgregar {
    width: 80px;
    padding: 5px;
    background-color: #dcdee6;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    user-select: none;
}

#botonAbrirModalAgregar:hover {
    background-color: #959bdc;
    cursor: pointer;
}

/* Modal */

#overlay {
    visibility: hidden;
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-modal {
    height: 160px;
    width: 380px;
    background-color: #dcdee6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
}

.contenedor-x {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#botonCerrar {
    all: unset;
    cursor: pointer;
}

/* Solo para el modal agregar hábito */
#inputModal {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
}

.opciones-modal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    gap: 10px;
}

.opciones-modal button {
    border: 0;
    border-radius: 2px;
    padding: 6px 15px;
    cursor: pointer;
    user-select: none;
}

/* Solo para el modal agregar hábito */
#agregarHabito {
    background-color: #858cdc;
    color: white;
}

#agregarHabito:hover {
    background-color: #5f68d0;
    
}


#botonCancelar {
    background-color: #b0b9ca;
}

#botonCancelar:hover {
    background-color: #727d90;
    color: white;
}

/* Alerta */
#contenedor-alerta {
    visibility: hidden;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenido-alerta {
    position: relative;
    height: 60px;
    width: 380px;
    background-color: #ec4370;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #ec275b;
    padding: 0 15px;
    margin-top: 8px;
    gap: 5px;
}

@keyframes mostrar {
    0% {top: -60px;}
    100% {top: 5px;}
}

.mostrar-alerta {
    animation: mostrar 0.2s;
}


/* Página responsive */

@media (max-width: 800px) {
    main{
        width: 90%;   
    }

    .habito {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .habito-nombre {
        width: 100%;
        padding: 5px;
        border-right: 0;
        border-bottom: 3px solid #858cdc;
    }

    .habito-nombre-texto {
        width: 100%;
    }

    .habito-nombre-input {
        width: 100%;
    }

    .dias {
        grid-template-columns: repeat(6, 1fr);
    }

    .opciones {
        flex-direction: row;
        border-top: 3px solid #858cdc;;
        border-left: 0;
    }

    .opciones button {
        width: 50%;
        padding: 5px;
    }

    /* Modal */
    .contenedor-modal {
        width: 300px;
    }

    /* Alerta */
    .contenido-alerta {
        width: 300px;
    }
}