*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f8f7f3;
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

h1,h2,p{
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

h1 span{
    background-color: #858cdc;
    color: #f8f7f3;
    font-style: italic;
    padding: 0 5px;
}

.fecha {
    border: 2px solid black;
    display: flex;
    text-align: center;
    padding: 0 10px;
}

content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mes{
    background-color: #858cdc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f8f7f3;
    padding: 0 5px;
    margin: 15px 0;
}

.mes h2{
    font-weight: bold;
    font-style: italic;
}

#filtrarMes {
    width: 100%;
    background-color: #858cdc;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color: white;
    border: 0;
    cursor: pointer;
}

.mesOpcion {
    background-color: #f8f7f3;
    font-size: medium;
    font-style: italic;
    color: black;
}

.contenedor-mensaje{
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    
}

.mensaje{
    color: black;
}

.habito {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 3px solid #858cdc;
    margin-bottom: 8px;
}

.habito-nombre {
    height: auto;
    width: 180px;
    border-right: 3px solid #858cdc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.habito-nombre-texto {
    width: 160px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.habito-nombre-input {
    all: unset;
    width: 150px;
    background-color: #dcdee6;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    
}

.dias {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    gap: 3px;
    padding: 5px;
}

.dias button {
    height: 35px;
    width: auto;
    background-color: #dcdee6;
    border: 0;
    user-select: none;
}

.dias button:hover {
    background-color: #cacfda;
    cursor: pointer;
}

.dias button.racha {
    background-color: #858cdc;
    color: white;
}

.dias button.perdido {
    background-color: red;
    color: white;
}

.opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 3px solid #858cdc;
}

.opciones button {
    height: 50%;
    background-color: #dcdee6;
    align-items: center;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

.boton-eliminar:hover {
    background-color: #ec275b;
}

.boton-editar:hover {
    background-color: #b0b9ca;
}

.boton-actualizar:hover {
    background-color: #959bdc;
}

.boton-agregar {
    display: flex;
    justify-content: end;
}

#agregarHabito {
    width: 80px;
    padding: 5px;
    background-color: #dcdee6;
    display: flex;
    justify-content: center;
    border: 0;
    border-radius: 5px;
    user-select: none;
}

#agregarHabito:hover {
    background-color: #959bdc;
    cursor: pointer;
}

@media (max-width: 800px) {
    .habito {
        flex-direction: column;
        margin-bottom: 15px;
    }

    .habito-nombre {
        width: 100%;
        padding: 5px;
        border-right: 0;
        border-bottom: 3px solid #858cdc;
    }

    .habito-nombre-texto {
        width: 100%;
    }

    .habito-nombre-input {
        width: 100%;
    }

    .dias {
        grid-template-columns: repeat(6, 1fr);
    }

    .eliminarHabito {
        padding: 5px;
        border-top: 3px solid #858cdc;
        border-left: 0;
    }
}